*.psd filter=lfs diff=lfs merge=lfs -text
# Python dosyaları için
*.py filter=lfs diff=lfs merge=lfs -text

# XML dosyaları için
*.xml filter=lfs diff=lfs merge=lfs -text

# IntelliJ proje dosyaları için
*.iml filter=lfs diff=lfs merge=lfs -text
# .avi uzantılı video dosyaları için Git LFS
*.avi filter=lfs diff=lfs merge=lfs -text
